<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>HOD Registration</title>

    <!-- Icons font CSS-->
    <link href="/register/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/register/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/register/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/register/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/register/css/main.css" rel="stylesheet" media="all">
    <!-- // <script type="text/javascript" src="doc_register.js"></script> -->

    <style>
    .input-group .label:after {
        content:"*";
        color:red;
    }
    </style>
</head>

<body>
    <div>
        <% include navbar.ejs ;%>
    </div>    

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">HOD Registration Form</h2>
                    <form action="/faculty/hod_register" method="post" id="doctorRegister">
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="fname" id="first_name" placeholder="Enter first name" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="lname" placeholder="Enter last name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Branch</label>
                                    <div class="input-group-icon">
                                        <select class="form-control" id="branch" name="branch">
                                            <option value="it">Information Technology</option>
                                            <option value="cs">Computer Science</option>
                                            <option value="mech">Mechanical Engineering</option>
                                            <option value="extc">EXTC</option>
                                        </select>    
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-6">
                                <div class="input-group">
                                  <div class="input-group">
                                      <label class="label">Age</label>
                                      <input class="input--style-4" type="number" name="age" placeholder="Enter Age" required>
                                  </div>
                                </div>
                            </div> -->

                        </div>
                        <!-- <div class="row row-space">

                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Marital Status</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Single
                                            <input type="radio" checked="checked" name="status">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Married
                                            <input type="radio" name="status">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" placeholder="Enter your E-mail" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="tel" name="contactNo" placeholder="Enter phone number" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <!-- <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Domain</label>
                                    <input class="input--style-4" type="text" name="domain" placeholder="Enter domain" required>
                                </div>
                            </div> -->
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Designation</label>
                                    <!-- <input class="input--style-4" type="text" name="role" value="hod" disabled> -->
                                    <select class="form-control" id="role" name="role">
                                            <option value="hod">Head of department</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" name="password" placeholder="Enter password" required>
                                </div>
                            </div>
                        </div>

<!--
                        <div class="input-group">
                            <label class="label">Subject</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>Subject 1</option>
                                    <option>Subject 2</option>
                                    <option>Subject 3</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
  -->
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" style="padding:1.5vh 6vh; border-radius:50px 50px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/register/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/register/vendor/select2/select2.min.js"></script>
    <script src="/register/vendor/datepicker/moment.min.js"></script>
    <script src="/register/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/register/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


</html>
<!-- end document-->
