<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<style type="text/css">
		#photo{
			position: relative;
		}
		#photo_text{
			position: absolute;
			text-align: center;
			bottom: -136vh;
			background-color: black;
			width: 100%;
			height: 500px;
			background: rgba(0,0,0,0.7);
			padding: 10vh 15vh;
			color: white;
		}

		div>p, div>ul>li{
			font-size: 18px;
		}
		
	</style>

</head>
<body>
	
	<div>
		
		<% include navbar.ejs ;%>

	<div>
		<div>
			<img src="images/front.jpg" width="100%" height="800">
		</div>

		<div style="text-align: center;background-color: #00bfff; padding:1vh 0; color: white;">
			<h3>Hospital Management System</h3>
		</div>

		<div style="margin: 4vh 6vh;" class="container">
			<p>The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.

Hospital management system is designed in such a way to manage all the aspects of the hotel operations. The HIMS software enables to keep all the records of the health informatics and it deals with medium to large sized hospitals and improve profitability. Hence, this hospital management software cover a wide range hospital administration and management processes.</p>

		<h2>What is hospital management system?</h2>

		<p>The hospital management software is known as eHospital Systems which is based on the web and mobile solution. It is integrated with the hospital records and manage all the hospital operations which includes medical, financial, administrative, legal, and compliance. This software handles all the functional requirements of the hotel operations and on a one platform all the details of doctors, staff and patient use to manage.</p>

		<h2>How Hospital Information Management System works?</h2>

		<div class="row" style="margin: 3vh;">
			<ul>
				<li>Handles Patient centric workflows</li>
				<li>Cloud Computing</li>
				<li>Health care</li>
				<li>Health Information technology</li>
				<li>Personal Health Record</li>
			</ul>
			<ul style="margin-left: 5vh;">
				<li>Manage clinical documentation</li>
				<li>Electronic health record</li>
				<li>Health Information mangement</li>
				<li>Medical Imaging</li>
			</ul>
		</div>
		</div>

		<div style="padding: 1vh 9vh;">
			<h1 style="text-align: center;margin-bottom: 6vh; font-size:60px; font-style:bold;">PURPOSE</h1>
			<div class="row container-fluid">
				<div class="col-sm-3" align="center">
					<img src="images/management.png" width="77" height="77" style="margin-bottom: 2vh;">
					<p>Easy and efficient Management</p>
				</div>
				<div class="col-sm-3" align="center">
					<img src="images/heartHome.png" width="90" height="90" style="">
					<p>To enhance the patient care</p>
				</div>
				<div class="col-sm-3" align="center" style="margin-top:-4.2vh;">
					<img src="images/doctorHome.png" width="120" height="120">
					<p>Improve the work efficiency</p>
				</div>
				<div class="col-sm-3" align="center" style="margin-top:-1vh;">
					<img src="images/fileHome.png" width="80" height="80" style="margin-bottom: 2vh;">
					<p>To regulate the financial control</p>
				</div>
			</div>
		</div>
		
		<div>
			<img src="images/below.jpg" width="100%" height="700" id="photo" style="position: relative;">	
			<div id="photo_text" style="position: absolute; height: 90vh; top: 228vh; padding-top: 25vh">
				<h4>Hospital Information</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<br>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

	</div>

	<div>
		<% include footer.ejs ;%>
	</div>

	</div>

</body>

</html>